<mat-icon class="iconOrders" routerLink="waiter" aria-hidden="false" aria-label="Example home icon">restaurant_menu
</mat-icon>
<p class="iconOrder"> Añadir Ordenes 
</p>
<mat-icon class="iconOrders" routerLink="orders" aria-label="Example home icon"> fastfood</mat-icon>
<p class="iconOrder"> Ver Ordenes 
</p>
<router-outlet></router-outlet>
<section class="content" [dir]="directionOrder"></section>
<mat-card-actions>
  <button mat-button (click)="openDialog()">Agregar</button>
</mat-card-actions>
<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="25%" fxFlex.xs="80%" fxFlex.sm="33%" *ngFor=" let product of arrayMenu ">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{product.name}} </mat-card-title>
        <mat-card-subtitle>{{product.id}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{product.image}}" alt="Photo of product">
      <mat-card-content>
        <div class="containerCounter">
          <p class="price">
            $ {{product.price}}
          </p>
          <div class="quantity" fxFlex="40%">
            <mat-icon (click)="upQuantity(product)" class="fa-solid fa-circle-minus">add_circle</mat-icon>
            <p id="qty"> {{product.quantity}} </p>
            <mat-icon (click)=" downQuantity(product)" class="fa-solid fa-circle-minus">remove_circle</mat-icon>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<mat-card-actions>
  <button (click)="logOut()" routerLink="" mat-button>Salir</button>
</mat-card-actions>