<<<<<<< HEAD
ul {
    list-style-type: none;
}
.breakfast{

    margin-top: 10%;
=======
/* .breakfast{
>>>>>>> 9aceb81e533d53b300fee17f9101adb1b775b691
    width: 95px;
    height: 95px;
    margin: 50px;
}
.lunch{
    margin-top: 10%;
    width: 95px;
    height: 95px;
    
}
.rown{
    display: flex;
    flex-direction: row;
    align-content: center;
    position: relative;
    left: 40%;
}
<<<<<<< HEAD

h1{
    text-align: center;
}
a{
    color: #FB727C;
    text-align: center;
    font-size: 27px;
    font-family: 'Inter', sans-serif;
    margin:20px;
}
=======
ul {
    list-style-type: none;
} */

  
>>>>>>> 9aceb81e533d53b300fee17f9101adb1b775b691
