<button id="modal" mat-button (click)="openDialog()">Añadir Empleado</button>
<div class="container">
  <div style="margin-top: 10px;"></div>
</div>
<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>
<!-- <div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div> -->

<div  fxLayout="row wrap" fxLayoutGap="16px grid" id="formUsers" >
    <form [formGroup]="form" (submit)="addUsers()">
        <p  id="alertmessage" class="alert alert-danger"> </p><br>
        <p class="addProduct">Agrega un nuevo producto al menú</p>
        <label for="email">Correo electrónico</label>
        <input type="text" id="name" name="email" formControlName="email">
        <label for="password">Contraseña</label>
        <input type="text" id="" name="password" formControlName="password">

        <label for="roles">Roles</label>
        <input type="text" name="roles" id="roles" formControlName="roles">

        <input type="submit" value="Crear nuevo producto" class="btn btn-primary">
    </form>
</div>
<div class="employees" *ngFor=" let employees of users">
<ul class="list-group">
    <li class="list-group-item">
        {{employees.email}} <br>
        {{employees.roles}} <br>
        {{employees.id}} <br>
        <button mat-icon-button (click)="editEmployees(employees)" color="primary" >
          <mat-icon>edit</mat-icon>
         </button>
        <button  mat-icon-button color="warn"
        (click)="onUserDelete(employees.id)"
         ><mat-icon>delete</mat-icon>
        </button>
        
  
      
    </li>
</ul>
</div>


<!-- 
<div class="container">
  <div style="margin-top: 10px;"></div>
</div>
<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort> -->

    <!-- ID Column -->
    <!-- <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>


    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let row"> {{row.email}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
      <td mat-cell *matCellDef="let row">
       <button mat-icon-button (click)="editEmployees(row)" color="primary" >
        <mat-icon>edit</mat-icon>
       </button>
       <button mat-icon-button color="warn" >
        <mat-icon>delete</mat-icon>
       </button>
      </td>
    </ng-container>

     
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->

    <!-- Row shown when there is no matching data. -->
    <!-- <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>

<router-outlet></router-outlet>
    -->
