<ng-container *ngIf="products.length != 0">
  <section class="containerOrder">
  <h1 mat-dialog-title> Añadir Ordenes</h1>
  <div mat-dialog-content>
    <form [formGroup]="form" class="formOrder">
      <mat-form-field appearance="outline">
        <mat-label>Nombre del cliente</mat-label>
        <input formControlName="client" matInput placeholder="Placeholder">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>userId</mat-label>
        <input formControlName="userId" matInput placeholder="Placeholder">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <!-- <mat-hint>Hint</mat-hint> -->
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Choose a date</mat-label>
        <input formControlName="dateEntry" matInput type="datetime-local">
        
      </mat-form-field>
      <mat-card class="listOrder" *ngFor="let product of products; let i = index">
        <div class="cardOrder">
          <p class="productName">{{product.name}}</p>
          <p class="price">{{product.total | currency}}</p>
          <div class="example-button-container">
            <button (click)="removeItem(product)" mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div> 
        </div>
      </mat-card>
    </form>
  </div>
  <div class="example-button-container">
    <button (click)="emptyCart()" mat-stroked-button color="warn">Eliminar todo
      <mat-icon>delete</mat-icon>     
    </button>   
     </div>
   <p>El total es: ${{totalOrder}}</p>
   <button (click)="addOrder()" mat-stroked-button color="accent" id="btnSend">Enviar Orden
    <mat-icon>send</mat-icon>
  </button>
  <button (click)="logOut()" mat-stroked-button color="warn" id="btnClose">Salir
  </button>
</section>
</ng-container>


<ng-container *ngIf="products.length === 0">
  <section fxFlexAlign="center" class="containerCart" [dir]="direction">
    <div class="cartEmpty">
      <p>Aun no se agregaron productos</p>
    </div>
  </section>
</ng-container>