#columEslogan{
    font-size: 50px;
    color: #FB727C;
    font-family: 'Inter', sans-serif;
    position: relative;
    margin-top: -340px;
    width: 400px;
    transform: translate(-50%, -50%);
    left: 81%;
    height: 200px;
    font-family: 'Inter';
    text-align: right; 
    list-style: none;

}
img{
    max-width: 700px;
    height: 700px;

}
li{
    padding: 15px;
}
